



/* .box1{
    width: 1500px;
    height: 200px;
    background-color:chocolate;
}

.box1 h1{
    margin-left: 500px;
    padding: 70px;
}

.box2{
    width: 1500px;
    height: 400px;
    background-color: khaki;
}

.box2 span{
    margin-left: 250px;
    padding: 20px;
    color: green;
}

.box2 p{
    color: crimson;
}

.box1 p1{
    color: black;
} */


/* .box1{
    width:550px;
    height: 250px;
    background-color: blanchedalmond;
}

.box1 h1{
    margin-left: 150px;
}

.box1 label{
    margin-left: 200px;
}

.box1 input{
    margin-left: 150px;
}

.box1 button{
    margin-left: 190px;
    color: green;
}

.box1 button{
    
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        
        
        cursor: pointer;
} */